<a href="https://colab.research.google.com/github/Krithika-Devi/training/blob/main/01_Python_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

## DataFrames

In [2]:
students = ['Alice', 'Bob', 'Emily', 'Charlie']

In [3]:
scores = [90, 80, 65, 50]

In [4]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [5]:
exam_results

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

### Searching (SQL SELECT)

In [6]:
exam_results.loc[0, 'scores'] # calling specified value corresponding to row and column

90

In [7]:
exam_results.loc[0] # calling first row

name      Alice
scores       90
Name: 0, dtype: object

In [8]:
exam_results.loc[:, 'scores'] #calling 2nd column (scores) to get all values in a row

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [9]:
exam_results.loc[2, :] #calling 3rd row to get values corresponding to column names

name      Emily
scores       65
Name: 2, dtype: object

In [10]:
exam_results['scores'] #calling 2nd column (scores), which is same as cell 8

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [11]:
exam_results[['name', 'scores']] # calling it by specifying required columns

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

### Add Columns

We can also easily add columns

In [12]:
gender = ['female', 'male', 'female', 'male']

In [13]:
exam_results['gender'] = gender # adding new column 'gender' to an existing dataframe

In [14]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [16]:
exam_results['gender']

0    female
1      male
2    female
3      male
Name: gender, dtype: object

In [17]:
exam_results[['scores','gender']]

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

### Remove Columns

In [19]:
exam_results.drop('name', axis=1) # removing column-'name' temporarily

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

In [20]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [21]:
# exam_results.drop('name', axis=1,inplace=True) --
## The above code is used to remove column permanently by specifying an argument: 'inplace=True'

### Column names and Row Index

In [22]:
exam_results.columns # to view the column names in a specified dataframe

Index(['name', 'scores', 'gender'], dtype='object')

In [23]:
exam_results.index # to view how many rows are there in a specified dataframe

RangeIndex(start=0, stop=4, step=1)

### Renaming Columns

In [24]:
exam_results.rename({'name': 'first_name'}, axis=1) #axis=1 is column; axis=0 is row

  first_name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male

### Dealing with missing values

Dataframes have specific commands which help with the handling of missing data

In [25]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [26]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [27]:
sparse.isna() # gives boolean value True where ever we have null(NaN) values.

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [28]:
sparse.fillna(0) # fills null(NaN) value to a value '0'

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [29]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

In [30]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [31]:
sparse.dropna(axis=1,inplace=True) #removes null values column permanently

In [32]:
sparse

   a
0  1
1  2
2  3

### Group by

In [34]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [35]:
exam_results.groupby('gender').mean() # groups 'gender' column to calculate mean for unique genders.

        scores
gender
female    77.5
male      65.0

In [36]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1) # specifying group numbers 1 and 2 alternatively to dataframe and
                                          # getting only group 1 data by using "get_group()" function.

    name  scores  gender
0  Alice      90  female
2  Emily      65  female

In [37]:
exam_results.groupby(mylist).get_group(2) # specifying group numbers 1 and 2 alternatively to dataframe and
                                          # getting only group 2 data by using "get_group()" function.

      name  scores gender
1      Bob      80   male
3  Charlie      50   male

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [38]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

This will compute the mean scores of students who scored above or below 70

In [39]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

In [40]:
below_70 = exam_results['scores']<70
below_70

0    False
1    False
2     True
3     True
Name: scores, dtype: bool

In [41]:
exam_results.groupby(below_70).mean()

        scores
scores
False     85.0
True      57.5

In [42]:
# Aliter:
exam_results.groupby(exam_results['scores']<70).mean()

        scores
scores
False     85.0
True      57.5

### Merge and Joining

In [43]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [45]:
contacts

      name            tel
0    Alice  +44 1234 5678
1  Charlie  +44 3245 5564

In [46]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [44]:
# specifying name as primary column getting inner join values of all columns.
# i.e., getting values on the same name that exists in both tables
exam_results.merge(contacts, left_on='name', right_on='name')   # defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [47]:
# specifying name as primary column getting outer join values of all columns.
# i.e., it deals with values only present in one of the table being joined.
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564

In [48]:
# specifying name as primary column getting left join values of all columns.
# i.e., it results in the set of records that are in the left table, if there is no match with the right table, the results are null.
exam_results.merge(contacts, left_on='name', right_on='name', how='left')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564

In [49]:
# specifying name as primary column getting right join values of all columns.
# i.e., it results in the set of records that are in the right tbale, if there is no match with the left table, the results are null.
exam_results.merge(contacts, left_on='name', right_on='name', how='right')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [51]:
# creates the cartesian product of both data frames, preserves the order of the left keys.
# When performing this cross merge, no column specifications to merge on are allowed.
exam_results.merge(contacts,how='cross')

    name_x  scores  gender   name_y            tel
0    Alice      90  female    Alice  +44 1234 5678
1    Alice      90  female  Charlie  +44 3245 5564
2      Bob      80    male    Alice  +44 1234 5678
3      Bob      80    male  Charlie  +44 3245 5564
4    Emily      65  female    Alice  +44 1234 5678
5    Emily      65  female  Charlie  +44 3245 5564
6  Charlie      50    male    Alice  +44 1234 5678
7  Charlie      50    male  Charlie  +44 3245 5564